* {
    padding: 0;
    margin: 0;
    font-family: "Tahoma";
}

#container {
    width: 970px;
    height: 800px;
    background-color: grey;
    margin: 0;
}

#header {
    height: 105px;
    background: linear-gradient(#EFEDEA, #E8E6E2, #DAD5CF);
}

#logo {
    height: 60px;
    width: 180px;
    padding: 15px;
}
    
#header button {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 20px;
    color: white;
    background: linear-gradient(#2A67AC, #235793, #184372);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 16px 2px 0px;
    margin-left: 320px;
    margin-top: 30px;
}
    
#header form {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 30px;
}

#header form input {
    border-radius: 5px;
    height: 20px;
    width: 200px;
}
    
#search {
    height: 30px;
    width: 30px;
    vertical-align: top;
    margin-top: 25px;
}

#header ul {
    margin-left: 370px;
    margin-top: -10px;
}

#header ul li {
    display: inline;
}

#header ul li:after {
    content: "|";
    padding: 0 5px 0 5px;
    color: grey;
}

#header ul li:last-child:after {
    content: none;
}

#header ul li a {
    text-decoration: none;
    color: #363535;
}




/*-------------------------------MAIN CONTENT------------------------------------*/

#main-content {
    height: 360px;
    background: linear-gradient(#3873B4, #205289, #21456C, #21456C, #21456C,#21456C,#21456C);
}

#main-left {
    height: 320px;
    width: 200px;
    background: linear-gradient(#3976BA, #2B598B, #21466E, #2B598B, #21456C,#21456C,#21456C);
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

#account-log {
    background-color: #D4DBE3;
    height: 275px;
    width: 205px;
    border: 1px solid white;
}

#account-title {
    color: white;
    background: linear-gradient(#1F5188, #1A4B7F);
    padding: 5px 5px 0 5px;
    font-weight: 200;
}

#account-description {
    color: white;
    background: linear-gradient(#1A4B7F, #225996, #2A67AC);
    padding: 0px 5px 10px 5px;
    font-size: 12px;
}

#main-left h4 {
    padding: 20px 10px 5px 15px;
    font-size: 14px;
}

#main-left form {
    padding: 0px 10px 0 15px;
}

#main-left input {
    border-radius: 5px;
    height: 20px;
    width: 140px;
}

#main-left p a {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 0 10px 5px 15px;
    color: #0A77F5;
}

#signbutton {
    display: inline-block;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(black, #393939, #838484);
    color: white;
    margin: 5px 5px 5px 14px;
}

#main-left h5 {
    display: inline;
}

#main-left h5 a {
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    color: #0A77F5;
}

#specialbutton {
    margin-top: 10px;
    height: 40px;
    width: 208px;
    background: linear-gradient(#17416F, #205288, #2864A6);
    color: white;
    font-size: 15px;
    padding: 5px;
    border: 1px solid white;
}

#main-content img {
    vertical-align: top;
    display: inline-block;
    height: 350px;
    width: 465px;
}

#small-bottom {
    height: 20px;
    width: auto;
    background-color: #D4DBE3;
    padding: 10px;
}

#small-bottom h6 {
    display: inline-block;
    font-size: 15px;
}

#small-bottom p {
    display: inline;
}

#small-bottom p a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #0A77F5;
}

#main-right {
    margin-left: -5px;
    display: inline-block;
    height: 350px;
    width: 250px;
    background: linear-gradient(#0c2948, #153f6d, #123f71, #3B7ABE, #2f83de, #1f75d3);
}


/*---------------------------BOTTOM CONTENTS--------------------------------*/

#bottom-wrapper {
    height: 135px;
    width: auto;
    background-color: #21456C;
    padding: 10px 20px 10px 20px;
}

.sub-contents {
    vertical-align: top;
    display: inline-block;
    height: 100px;
    width: 272px;
    background-color: white;
    margin: 0 5px;
    border: 2px solid grey;
    padding: 10px;
}

.sub-contents img {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 90px;
}

.subtitles {
    vertical-align: top;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

#datap a{
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    margin-left: 95px;
    margin-top: -60px;
    color: #0A77F5;
}

#greenp a{
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    margin-left: 95px;
    margin-top: -75px;
    color: #0A77F5;
}

#promisep a{
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    margin-left: 95px;
    margin-top: -75px;
    color: #0A77F5;
}

#bottom-list {
    margin-top: -15px;
    background-color: #E1DED8;
    padding: 8px;
    display: inline-block;
    border: 1px solid black;
}

#bottom-list li {
    list-style-type: none;
    display: inline;
}

#bottom-list li a {
    text-decoration: none;
    color: #363535;
    border-right: 1px solid black;
    padding: 0 5px 0 5px;
    font-size: 12px;
}

#stock {
    margin-left: 208px;
    color: #363535;
}